name: Create GitHub Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0' # Adjust to your target .NET Core version

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release

      - name: Publish Artifact
        uses: actions/upload-artifact@v2
        with:
          name: hellobelle-release
          path: ./HelloBelle/bin/Release/net7.0/ # Adjust the path to your artifact

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: ./HelloBelle/bin/Release/net7.0/*
          tag_name: ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_BELLE_TOKEN_ARTIFACT }}

#      - name: Get Release URL
#        id: get_release_url
#        run: |
#          echo "Release URL: ${{ steps.create_release.outputs.upload_url }}"

      - name: Configure Git
        run: |
          git config --global user.email "mike.bengil@gmail.com"
          git config --global user.name "mikebengil-lmg"
          
      - name: Deploy to GitHub Pages
        run: |
          git clone https://github.com/${{ github.repository }}.git gh-pages
          cd gh-pages
          git checkout --orphan gh-pages
          git rm -rf .
          cp -R ../HelloBelle/bin/Release/net7.0/* .
          git add .
          git commit -m "Deploy release assets to GitHub Pages"
          echo "test"
          git push --force origin gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_BELLE_TOKEN_ARTIFACT }}         
          

# You can add more steps here for deploying or notifying as needed
